@font-face {
   font-family: "Nirmala UI";
   src: url("fonts/Nirmala UI.eot") format("embedded-opentype"), url("fonts/Nirmala UI.ttf") format("truetype"), url("fonts/Nirmala UI.woff") format("woff"), url("fonts/Nirmala UI.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Nirmala UI";
   src: url("fonts/Nirmala UI Bold.eot") format("embedded-opentype"), url("fonts/Nirmala UI Bold.ttf") format("truetype"), url("fonts/Nirmala UI Bold.woff") format("woff"), url("fonts/Nirmala UI Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "UVN Da Lat";
   src: url("fonts/UVN Da Lat Bold.TTF") format("truetype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "UVN Da Lat";
   src: url("fonts/UVN Da Lat.TTF") format("truetype");
   font-weight: normal;
   font-style: normal;
}